# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage
/prisma-*/types/
/prisma-e2e/*.db
/prisma-e2e/test.db-journal
/e2e/results/
/e2e/report/
/e2e/.auth/
/playwright/.cache/
/.nyc_output

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*

# env files (can opt-in for committing if needed)
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

## Worktrees
/base

certificates
