html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 80 characters line in Editor */
.cm-editor .cm-content::before {
  width: calc(80ch + 5px);
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  border-right: 1px solid #aaa;
  z-index: 1000;
  pointer-events: none;
}

.cm-editor .cm-content {
  position: relative;
}

/* make Editor gutter stable */
.cm-lineNumbers {
  min-width: 5ch;
}

.cm-foldGutter {
  width: 18px;
}

.cm-editor.cm-focused .cm-selectionBackground,
.cm-editor .cm-line::selection,
.cm-editor .cm-selectionLayer .cm-selectionBackground,
.cm-editor .cm-content ::selection {
  background: var(--chakra-colors-blue-solid) !important;
  color: white;
}
